@import 'base.css';

.container {
    width: 100%;
    padding-inline: .5rem;
    margin-inline: auto;
}

.survivors_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.player__profile {
    animation: fadeIn 200ms forwards;
    background-color: rgb(40, 35, 26);
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.player__profile {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.modal__body .player__profile {
    border-radius: 5px;
}

.player__name {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    font-size: 1.75rem;
    font-weight: 800;
    color: rgb(242, 162, 12);
}

.player__backstory {
    padding: 0;
    text-align: justify;
    font-size: 1.25rem;
    color: rgb(194, 134, 24);
    font-weight: 600;
    letter-spacing: 1px;
}

.survivor {
    position: relative;
    cursor: pointer;
    width: calc(100%/4);
}

.survivor__avatar {
    width: 100%;
    transition: transform 75ms ease, background-color 200ms ease;
    will-change: transform, background-color;
}

.survivor>.survivor__avatar:hover {
    /* transform: scale(1.05, 1.05); */

    animation: scale__avatar 75ms forwards;
}

@keyframes scale__avatar {
    to {
        transform: scale(1.05, 1.05)
    }
}
.player__profile {
    flex-direction: column;
    justify-content: center;
}

.player__profile .player__avatar {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.player__perks__list {
    display: flex;
    gap: 0.15rem;
    margin-top: 1rem;
}

.perk {
    width: 4rem;
    height: 4rem;
    background-color: rgb(89, 25, 109);
}

.perk__icon {
    width: 100%;
    aspect-ratio: 1;
}

@media (min-width: 600px) {
    .container {
        width: 80%;
    }

    .survivor {
        width: calc(100%/6);
    }

    .player__avatar {
        float: left;
        width: 200px;
        margin-right: .5rem;
        margin-bottom: .5rem;
    }
}