@import 'base.css';

.container {
    width: 100%;
    padding-inline: .75rem;
    margin-inline: auto;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


@keyframes scale__avatar {
    to {
        transform: scale(1.05, 1.05)
    }
}

@media (min-width: 50rem) {
    .container {
        width: 80%;
        padding: 0;
    }
}

input[type="search"]::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;
    appearance: none;

    height: 0.75em;
    width: 0.75em;
    padding: 0.1em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}